.tutorial-sidebar-preview,
.tutorial-general-form {
	display: inline-blog;
	float: left;
}

.tutorial-sidebar-preview {
	width: 280px;
	background-color: #fff;
	padding: 20px;
	text-align: center;
	margin-right: 20px;
}

.tutorial-sidebar {
	display: block;
	text-align: center;
}

h1.tutorial-username,
h2.tutorial-description {
	font-weight: 100;
	color: #000;
}

h1.tutorial-username {
	font-size: 24px;
	margin: 0 0 10px;
}

h2.tutorial-description {
	font-size: 14px;
	margin: 0 0 20px;
}

.image-container {
	display: block;
	width: 100%;
	overflow: hidden;
	text-align: center;
}

.profile-picture {
	width: 100%;
	height: 122px;
	overflow: hidden;
	margin: 20px auto;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}