/*
Theme Name: Tutorial Theme
Theme URI: http://wordpress.org/themes/twentythirteen
Author: Malcolm
Author URI: http://wordpress.org/
Description: Making a theme
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, flexible-width, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready
Text Domain: Tutorial Theme

*/

body {
	font-family: 'Raleway', 'Helvetica Neue', 'sans-serif';
}

.background-white {
	background-color: #fff;
}

a:hover,
a:focus {
	text-decoration: none;
}

.header-container {
	display: block;
	position: relative;
	height: 150px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}

.home-header {
	height: 100vh !important;
}

@media (max-width: 767px) {
	.home-header {
		height: 150px !important;
	}
}

.background-image {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.noPadding {
	padding: 0;
}

.table {
	display: table;
	width: 100%;
	height: 100%;
}

.table-cell {
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

.custom-logo-link img {
    width: 50%;
    height: 150px;
}

@media (max-width: 768px) {
	.custom-logo-link img {
	    width: 100%;
	}
}

.site-title,
.site-title > a,
.site-title > a:hover,
.site-title > a:focus {
	font-family: 'Slabo 27px', serif;
	font-size: 1.4em;
	color: #fff;
	margin: 0;
	text-shadow: 1px 1px #000;
	padding-top: 10px;
}

.site-description {
	font-family: 'Ranga', 'Helvetica Neue', 'sans-serif';
	font-size: 2em;
	color: #fff;
	text-shadow: 1px 1px #000;
	margin-top: 5px;
}

@media(max-width: 767px) {
	.site-title {
		font-size: 2em;
		padding-top: 40px;
	}
}

.nav-container {
	float: right;
}

.navbar-tutorial {
	text-align: right;
	border: none;
	border-radius: 0;
	min-height: auto;
	margin-bottom: 0;	
    background-color: transparent;
}

.navbar-nav {
	float: none;
	width: 100%;
	margin: 7.5px 0px;
}

.navbar-nav > li {
	float: none;
	display: inline-block;
}

.navbar-nav > li.active > a {
	opacity: 1;
	background-color: transparent !important;
}

.navbar-nav > li.active > a:after {
	opacity: 1;
    transform: translateY(0em);
    -moz-transform: translateY(0em);
    -webkit-transform: translateY(0em);
    -o-transform: translateY(0em);
}

.navbar-nav > li > a {
	text-transform: uppercase;
	color: #fff !important;
    font-size: 1.1em;
	opacity: 0.8;
    transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
	letter-spacing: 0.05em;
	background: none;
}

.navbar-nav > li > a:hover {
	background: none;
	opacity: 1;
    transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
}

.navbar-nav > li > a:after {
	content: '';
	position: absolute;
	display: block;
	left: 15px;
	right: 15px;
	bottom: 0.7em;
	height: 2px;
	background: #fff;
	opacity: 0;
    transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transform: translateY(0.7em);
    -moz-transform: translateY(0.7em);
    -webkit-transform: translateY(0.7em);
    -o-transform: translateY(0.7em);
}

.navbar-nav > li > a:hover:after {
	opacity: 1;
    transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transform: translateY(0em);
    -moz-transform: translateY(0em);
    -webkit-transform: translateY(0em);
    -o-transform: translateY(0em);
}

.navbar-nav > li.open > a {
	opacity: 1;
	background-color: rgba(0,0,0,0.1) !important;
}

.navbar-nav > li.open > a:after {
	opacity: 0;
    transform: translateY(0.7em);
    -moz-transform: translateY(0.7em);
    -webkit-transform: translateY(0.7em);
    -o-transform: translateY(0.7em);
}

.navbar-nav>li>.dropdown-menu {
	background-color: rgba(0,0,0,0.8);
}

.dropdown-menu>li>a {
	background-color: rgba(0,0,0,0.5);
	color: #fff;
}

.dropdown-menu>.active>a {
	color: #fff;
	background-color: rgba(0,0,0,0.1);
}

.dropdown-menu>.active>a:hover {
	color: #000;
	background-color: #fff;
}

.dropdown-menu>li>a:focus {
	background-color: rgba(0,0,0,0.7) !important;
	color: #fff;
}

.navbar-default .navbar-toggle {
	border-color: #eee;
	float: none;
	margin-right: 0px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-default .navbar-collapse {
	margin-top: 42.5px;
}

@media (max-width: 767px) {
	.navbar-tutorial {
		text-align: left;
	    margin-top: 30px;
	}

	.navbar-default .navbar-toggle {
		border-color: #aaa;
	}

	.navbar-default .navbar-toggle .icon-bar {
		background-color: #aaa;
	}

	.navbar-nav > li {
		display: block;
	}

	.navbar-nav > li > a {
		padding-left: 0;
		color: #000 !important;
	}

	.navbar-nav > li.open > a {
		background-color: #fff !important;
	}

	.navbar-nav > li > a:after {
		bottom: 0.5em;
	}

	.navbar-collapse {
		padding-left: 0;
		border-color: #aaa !important;
	}

	.dropdown-menu>li>a {
		background-color: #fff;
	}
}

#phone-number > h3 {
	margin-top: 13px;
	margin-bottom: 10px;
}

.socialMediaIcons {
	float: right;
	margin-top: 10px;
	margin-bottom: 10px;
}

#short_code_si_icon {
	text-align: right !important;
}

/* 
	Footer
*/

.pageFooter {
    background-color: #fff;
    opacity: .8;
	border-top: 1px solid rgba(0,0,0,0.5);
	padding-top: 20px;
}

#footer-sidebar1 {
	color: #000;
	text-align: center;	
	margin-top: 20px;
	margin-bottom: 20px;	
}

#footer-sidebar1 p {
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 1.1em;
}

#footer-sidebar2 {
	color: #000;
	text-align: center;
	margin-bottom: 20px;	
}

#footer-sidebar2 p {
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 1.1em;
}

/*
	Front Page
*/

.entry-content {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #fff;
}

.entry-content > p {
	font-family: 'Raleway', 'Helvetica Neue', 'sans-serif'; 
	font-size: 1.2em;
	color: #000;
}

.entry-content a {
	font-family: 'Raleway', 'Helvetica Neue', 'sans-serif'; 
	color: #555;
}

.entry-content a:hover {
	color: #000;
}

.tileImage {
	height: 240px;
}

.tileImage img {
	width: 100%;
	height: 100%;
}

.tileContent {
	margin-top: 15px;
	color: #000;
	margin-bottom: 15px;	
}

.tileContent > a {
	font-size: 1.5em;
	color: #555;	
}

.tileContent > a:hover {
	color: #000;
}

.tileContent > i {
    float: right;
    margin-top: 8px;
    color: #555;
}

.tileContent a:hover ~ i {
    color: #000;
}

/* Our Team */
.team-page-content,
.portfolio-page-content,
.contact-page-content {
	color: #000;
	font-family: 'Raleway', Arial, sans-serif;
	margin-bottom: 50px;
	text-align: center;
}

.team-page-content h1 {
	color: #000;
	font-family: 'Raleway', Arial, sans-serif;
}

.team-page-content p {
	color: #000;
	font-family: 'Raleway', Arial, sans-serif;
}

.team-profile {
	margin-top: 10px;
	margin-bottom: 10px;
}

.team-picture {
    width: 165px;
    height: 165px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.team-picture img {
	width: 100%;
	height: 100%;
}

@media (max-width: 767px) {
	.team-info {
		text-align: center;
	}
}

@media (min-width: 768px) and (max-width: 1199px) {
	.team-picture {
	    width: 155px;
	    height: 155px;
	    border-radius: 50%;
	    overflow: hidden;
	    margin: 0 auto;
	}
}

.team-title {
	text-transform: uppercase;
	font-size: 1.4em;
	color: #555;
	letter-spacing: 0.05em;
}

.team-position {
	font-size: 1.1em;
	color: #000;
}

.team-email {
	margin-top: 5px;
}

.team-phone {
	margin-bottom: 5px;
}

.team-email a {
	color: #555;
}

.team-email a:hover {
	color: #000;
}

/* Projects Page */
.portfolio-piece {
	position: relative;
}

.portfolio-image {
	margin-top: 10px;
	margin-bottom: 10px;
    height: 200px;
    position: relative;   
}

@media (max-width: 767px) {
	.portfolio-image {
		height: 250px;
	}
}

.portfolio-image img {
	width: 100%;
	height: 100%;
}

.portfolio-mask {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0);
}

.portfolio-desktop-title {
    text-align: center;
    /* margin-bottom: 10px; */
    position: absolute;
    top: 43%;
    width: 100%;
    font-size: 1.5em;
    opacity: 0;
    color: #fff;
}

.portfolio-image:hover .portfolio-mask {
	background-color: rgba(0,0,0,0.4);
}

.portfolio-image:hover .portfolio-desktop-title {
	opacity: 1;
}

.portfolio-desktop-title:hover ~ .portfolio-mask {
	background-color: rgba(0,0,0,0.4);
}

.portfolio-desktop-title:hover {
	opacity: 1;
}

.portfolio-title {
	text-align: center;
    margin-bottom: 10px; 
    font-size: 1.5em;
    color: #fff;
}

@media (max-width: 1366px ) {
	.portfolio-title {
     	margin-bottom: 10px;
     	position: static;
     	opacity: 1;
     	color: #000;
	}

	.portfolio-mask {
		display: none;
	}
}

@media (width: 1366px) {
	.portfolio-desktop-title {
		display: none;
	}

	.portfolio-title {
		display: block !important;
	}
}

/* Contact Us */
.contact-form {
	margin-top: 10px;
	margin-bottom: 10px;
}

.contact-form input {
	width: 100%;
	margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid #555;
    font-size: 1.5em;
	color: #555;
}

.contact-form input:focus,
.form-message:focus,
.form-btn:focus {
	outline: none;
}

.form-message {
	width: 100%;
	margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid #555;
    font-size: 1.5em;
	color: #555;
}

.form-btn {
	background-color: #555;
	color: #fff;
	font-size: 1.5em;
}

.form-btn:hover {
	background-color: #444;
	color: #fff;
}

.response {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
    letter-spacing: 0.02em;
}


/*
	Standard Post Format
*/

article {
	padding-top: 40px;
	padding-bottom: 40px;
}

h1 {
	font-size: 48px;
	font-weight: 200;
	color: #000;
}

h1 > a {
	color: #000;
}

h1 > a:hover,
h1 > a:focus {
	color: #333333;
}

h1.entry-title {
	line-height: 1.5em;
	margin: 0;
	padding: 0;
}

h1.entry-title::before,
h1.entry-title::after {
	content: '~';
	display: inline-block;
	position: relative;
}

h1.entry-title::before {
	margin-right: 10px;
}

h1.entry-title::after {
	margin-left: 10px;
}

.entry-meta {
	font-size: 13px;
	font-weight: 300;
	color: #898989;
	margin: 20px 0;
}

.entry-meta > span > a {
	font-weight: 500;
	color: #898989;
}

.entry-meta > span > a:hover,
.entry-meta > span > a:focus {
	color: #333333;
}

.standard-featured {
	height: 330px;
	display: block;
	position: relative;
}

.standard-featured-link {
	display: block;
	position: relative;
}

.standard-featured-link:hover .standard-featured::after,
.standard-featured-link:focus .standard-featured::after{
	background-color: rgba(0,0,0,0);
}

.standard-featured::after {
	content: '';
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.15);
	box-shadow: inset 0 0 15px rgba(0,0,0,0.35);
}

.entry-excerpt {
	margin: 30px 0 16px;
}

.entry-excerpt > p {
	font-size: 17px;
	line-height: 1.5em;
	font-weight: 300;
	letter-spacing: 0.02em;
	font-family: 'Raleway';
}

.btn-tutorial {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 300;
	color: #898989;
	padding: 8px 12px;
	border-radius: 0;
	border: 1px solid #898989;
	background-color: transparent;
}

.btn-tutorial:hover,
.btn-tutorial:focus {
	color: #fff;
	border-color: #333333;
	background-color: #333333;
}

.button-container {
	margin-bottom: 30px;
}

.entry-footer {
	padding: 10px 5px;
	border-bottom: 4px solid #F1F1F1;
	color: #898989;
	text-transform: uppercase;
}

.entry-footer a {
	color: #898989;
	display: inline-block;
	font-size: 12px;
}

.entry-footer a:hover,
.entry-footer a:focus {
	color: #333333;
}

.entry-footer .tags-list a {
	padding: 0 4px;
}


/*
	Image Post Format
*/

.tutorial-format-image .entry-header{
	height: 600px;
	color: #fff;
	text-shadow: 0 1px 2px rgba(0,0,0,0.6);
    position: relative;
}

.tutorial-format-image h1,
.tutorial-format-image .entry-meta{
	color: #fff;
}

.tutorial-format-image h1  a,
.tutorial-format-image .entry-meta  a {
	color: #fff;
}

.tutorial-format-image h1{
	padding-top: 10px;
}

.image-caption {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0;
	padding: 30px 0;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
}

/*

	Audio Post Format 

*/

.tutorial-format-audio .entry-content iframe {
	width: 100%;
	height: 166px;
}

.tutorial-format-audio h1 {
	font-size: 30px;
}

.tutorial-format-audio h1.entry-title {
	display: inline-block;
	margin-right: 20px;
}

.tutorial-format-audio h1.entry-title::before,
.tutorial-format-audio h1.entry-title::after {
	display: none;
}

.tutorial-format-audio .entry-meta {
	display: inline-block;
	margin-bottom: 0;
}

/*

	Video Post Format 

*/

.tutorial-format-video header h1.entry-title {
	margin-top: 20px;
}

/*

	Gallery Post Format 

*/

.tutorial-format-gallery header h1.entry-title {
	margin-top: 20px;
}

.tutorial-format-gallery .standard-featured {
	height: 500px;
}

.tutorial-format-gallery .standard-featured::after {
	background-color: transparent;
}

.tutorial-format-gallery .image-caption {
	color: #fff;
    transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transform: translateY(100%);
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -o-transform: translateY(100%);
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
}

.tutorial-format-gallery:hover .image-caption {
    transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transform: translateY(0%);
    -moz-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -o-transform: translateY(0%);
}

/*

	Quote Post Format 

*/

.tutorial-format-quote .quote-content p {
	font-size: 42px;
	font-weight: 100;
	line-height: 1.3em;
	letter-spacing: 0.03em;
	font-family: inherit;
	quotes: "“" "”" "‘" "’";
}

.tutorial-format-quote .quote-content p:before {
	content: open-quote;
	display: inline-block;
	position: relative;
	color: #e3e3e3;
}

.tutorial-format-quote .quote-content p:after {
	content: close-quote;
	display: inline-block;
	position: relative;
	color: #e3e3e3;
}

.tutorial-format-quote .quote-author {
	color: #898989;
	font-size: 16px;
	letter-spacing: 0.05em;
}

/*

	Link Post Format 

*/

.tutorial-format-link h1.entry-title:before,
.tutorial-format-link h1.entry-title:after {
	display: none;
}

.tutorial-format-link h1.entry-title .link-icon{
	display: block;
	color: #fff;
	font-size: 30px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: rgba(0,0,0,0.6);
	margin: 0 auto;
	line-height: 1em;
	padding-top: 9px;
}

.tutorial-format-link h1.entry-title > a {
	display: block;
}

/*

	Aside Post Format 

*/

.tutorial-format-aside .aside-container {
	background-color: rgba(0,0,0,0.05);
	padding-top: 20px;
}

.tutorial-format-aside .aside-featured {
	width: 136px;
	height: 136px;
	border-radius: 50%;
	margin: 20px auto -20px;
}

.tutorial-format-aside .entry-excerpt {
	margin-top: 0;
}

.tutorial-format-aside .entry-meta {
	margin-bottom: 5px;
}

.tutorial-format-aside .entry-excerpt p {
	font-size: 15px;
}

.tutorial-format-aside .entry-footer {
	border-bottom: none;
	background-color: rgba(0,0,0,0.05);
	padding-right: 10px;
}

/*

	Footer Section
	
*/

.tutorial-footer {
	background-color: #333;
	padding: 20px 0;
	margin-top: 40px;
	display: block;
}

/*

	Ajax Section
	
*/

.tutorial-posts-container {
	padding-top: 80px;
}

.tutorial-posts-container article {
    transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;transform: translateY(100px);
    -moz-transform: translateY(100px);
    -webkit-transform: translateY(100px);
    -o-transform: translateY(100px);
    opacity: 0;
}

.tutorial-posts-container article.reveal {
    transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    opacity: 1;
}

.btn-tutorial-load {
	display: block;
	width: 200px;
	color: #222;
	font-size: 30px;
	margin: 0 auto;
	cursor: pointer;
	opacity: 0.7;
    transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
}

.btn-tutorial-load:hover,
.btn-tutorial-load:focus {
	opacity: 1;
    transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    color: #222;
}

.loading {
	opacity: 1;
    transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    color: #222;
    cursor: default;
}

.btn-tutorial-load span {
	display: block;
}

.btn-tutorial-load .rotate {
    width: 30px;
    margin: 0 auto;
    font-size: 30px;
    height: auto;
}

@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

.spin {
	animation: spin 0.6s infinite;
	animation-timing-function: linear;
	animation-direction: reverse;
}